.chat {
    position: absolute;
    height: 55%;
    width: 28%;
    text-align: left;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    overflow: auto;
}
.gameCanvas{
    position: absolute;    
    text-align: center;
}
#gameContainer{
    position: relative;
    text-align: center;
}
